<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  nav a.active {
    text-decoration: underline;
    color: tomato;
  }
</style>

<nav>
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/"
    >counter</a
  >
  <!-- <a routerLink="/hero">hero</a> -->
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/hero']"
    >hero</a
  >
</nav>
